[submodule "site-lisp/rails-reloaded"]
	path = site-lisp/rails-reloaded
	url = git://github.com/dima-exe/emacs-rails-reloaded.git
[submodule "devdocs-lookup"]
	path = site-lisp/devdocs-lookup
	url = https://github.com/skeeto/devdocs-lookup.git
